body {
	background: #141E30;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #243B55, #141E30);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #243B55, #141E30);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: auto;
	height: 960px;
	overflow: hidden;
}
.outer {
	width: 100%;
	display: block;
	margin: auto;
	text-align: center;
	font-family: 'Carter One';
}
.header {
	display: block;
}
h3 {
	font-size: 26px;
	color: #fafaff;
	letter-spacing: 2px;
}
.js-plotly-plot .plotly, .js-plotly-plot .plotly {
	text-align: center !important;
}
p {
	color: #F5B800;
	letter-spacing: 1px;
	font-size: 22px;
}
h3, p {
	font-weight: 300;
	background-color: #666666;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.7);
}

i.xaxis{
  transform: rotate(45deg);
}
i.yaxis{
  transform: rotate(-45deg);
}


.menu1 {
	position: absolute;
	top: 100px;
}
.menu1 ul li {
	list-style: none;
	overflow: visible;
  border: none;
	background: none;
	border-bottom: thick solid lightgreen;
  min-width: 150px;
	max-width: 200px;
	margin-bottom: 10px;
}


table tr{
	padding: 2px;
}
table tr td{
	padding: 2px;
	border: thin solid white;
}

input[type=range]{
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  max-width: 120px;
  max-height: 10px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid white;
  height: 8px;
  width: 8px;
  border-radius: 1px;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  position: relative;
  background-color: #ff2222;
  top:10px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid white;
  height: 8px;
  width: 8px;
  border-radius: 3px;
  background-color: #ff2222;
  cursor: pointer;
  position: relative;
  top:10px;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid white;
  height: 8px;
  width: 8px;
  border-radius: 3px;
  background-color: #ff2222;
  cursor: pointer;
  position: relative;
  top:10px;
}

.menuIcons {
  background: none;
  border: none;
	/*transition: background-color 1.2s, box-shadow 1s;*/
	padding: 5px;
	color: lightgreen;
	font-size: 14px;
	font-family: 'Carter One';

}
div.clear{
	margin-bottom: 30px;
}
div.controls{
	position: fixed;
	top: 100px;
  right: 100px;
	padding: 10px;
	text-align: center !important;
}


.controls ul{
	list-style: none;
	margin:auto;
	padding: 0px;
}

div.joys{
  border: thin solid lightgreen;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: lightgreen;
  padding: 10%;
	margin: auto;
  box-shadow: 0px 0px 9px gray inset;
}



div.baseE{
  border: thin solid lightgreen;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: lightblue;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 10px black inset;
}
div.stickE{
  border-radius: 15px;
  width: 15px !important;
  height: 15px !important;
  display: block;
  border: medium gray outset;
  box-shadow: 2px 2px 10px darkgray;
  background-color: black;
}
div.stickE:hover{
  cursor:pointer;
}
div.resBtn{
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: crimson;
  filter: brightness(150%) contrast(150%);
  position: relative;
  box-shadow: 2px 2px 3px black;
  top: 33px;
  left: 15px;
  border: inset thin #444;
  padding: 1px;
}
div.resBtn:hover{
  cursor: pointer;
  box-shadow: 1px 1px 4px white;
}
div.resBtn:active{
  box-shadow: none;
  border: inset medium #444;
}
.menu1 ul li:hover{
	color: blue;
	border-bottom: solid medium orange;
	border-top: solid medium orange;
	-webkit-animation: btnEff 0.7s ease;
	-moz-animation: btnEff 0.7s ease;
	-o-animation: btnEff 0.7s ease;
	animation: btnEff 0.7s ease;
	border-radius: 10px;
	background-color: black;
	color: #afa;
}
.menu1 ul li:active{
	border-bottom: inset medium lightgreen;
}
.menu1 ul li .btnImgs {
	display: inline;
}
@-webkit-keyframes btnEff {
	0% {
		border-radius: 0px;
		filter: blur(2px) saturate(120%) contrast(120%) brightness(120%) hue-rotate(10deg);
	}
	100% {
		border-radius: 8px;
	}
}
@-moz-keyframes btnEff {
	0% {
		border-radius: 0px;
		filter: blur(5px) saturate(120%) contrast(120%) brightness(120%) hue-rotate(10deg);
	}
	100% {
		border-radius: 8px;
	}
}
@-o-keyframes btnEff {
	0% {
		border-radius: 0px;
		filter: blur(5px) saturate(120%) contrast(120%) brightness(120%) hue-rotate(10deg);
	}
	100% {
		border-radius: 8px;
	}
}
@keyframes btnEff {
	0% {
		border-radius: 0px;
		filter: blur(5px) saturate(120%) contrast(120%) brightness(120%) hue-rotate(10deg);
	}
	100% {
		border-radius: 8px;
	}
}
span {
	color: white;
}
.inner {
	margin: 0px;
	display: inline-block;
	margin: 1%;
	overflow: hidden;
}
canvas {
	width: 600px;
	height: 400px;
}
