body{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.menu1{
  position: absolute;
  top: 300px;
}

.menu1 ul li{
  list-style: none;

}

.menu1 ul li button{
  border: none;
  border-bottom: thick solid lightgreen;
  background: none;
  transition: background-color 1.2s, box-shadow 1s;
  padding: 10px;
  color: lightgreen;
  font-size: 18px;
  font-family: 'Carter One';
  width: 100px;
  margin-bottom: 10px;
}
.menu1 ul li button:hover{
  background-color: lightgreen;
  background-blend-mode: multiply;
  color: blue;
}
.menu1 ul li button:active{
  border: inset thick white;
}
.mainmenu li{
  list-style: none;
  margin-left: -30px;
}
.mainmenu li a{
  text-decoration: none;
  margin:0;
  font-size: 24px;
  color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  text-shadow: 0px 0px 2px black;
  letter-spacing: 5px;

}
.mainmenu li a:hover{
  color:crimson;
  text-shadow: 1px 2px 8px black;
}
.mainmenu li a:active{
  text-shadow: none;
}

.outer{
  font-family: 'Carter One';
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}

.header{
  display: block;
}


h3{
  font-size: 26px;
  color: #fafaff;
  letter-spacing: 2px;
}

p{
  color: #F5B800;
  letter-spacing: 1px;
  font-size: 22px;
}
h3, p{
  font-weight: 300;
background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 7px 4px rgba(0,0,0,0.7);

}

.inner{
  width: 400px;
  height: 400px;
  margin: 0px;
  display: inline-block;
  margin: 1%;
  border-top: thin solid orange;
  background-color: #496988;
}
