
# Created by https://www.toptal.com/developers/gitignore/api/web,sass
# Edit at https://www.toptal.com/developers/gitignore?templates=web,sass

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# End of https://www.toptal.com/developers/gitignore/api/web,sass