.drippers {
	text-transform: full-width;
}

.drippin {
	-webkit-animation: ease drippin 1.5s infinite;
	/* Safari 4+ */
	-moz-animation: ease drippin 1.5s infinite;
	/* Fx 5+ */
	-o-animation: ease drippin 1.5s infinite;
	/* Opera 12+ */
	animation: ease drippin 1.5s infinite;
	/* IE 10+, Fx 29+ */
}

.cubesAnim {
	-webkit-animation: ease-in-out cubey 1s 5;
	/* Safari 4+ */
	-moz-animation: ease-in-out cubey 1s 5;
	/* Fx 5+ */
	-o-animation: ease-in-out cubey 1s 5;
	/* Opera 12+ */
	animation: ease-in-out cubey 1s 5;
	/* IE 10+, Fx 29+ */
}
@-webkit-keyframes cubey {
	0% {
		text-shadow: 0px 5px 2px red;
	}
	10% {
		text-shadow: 5px 0px 2px crimson;
	}
	15% {
		text-shadow: -5px 0px 5px orange;
	}
	20% {
		text-shadow: 0px -10px 10px yellow;
	}
	50%{
		text-shadow: 0px 00px 100px wheat;
	}
	100% {
		text-shadow: 0px 0px 500px white;
	}
}
@-moz-keyframes cubey {
	0% {
		text-shadow: 0px 5px 2px red;
	}
	10% {
		text-shadow: 5px 0px 2px crimson;
	}
	15% {
		text-shadow: -5px 0px 5px orange;
	}
	20% {
		text-shadow: 0px -10px 10px yellow;
	}
	50%{
		text-shadow: 0px 00px 100px wheat;
	}
	100% {
		text-shadow: 0px 0px 500px white;
	}
}
@-o-keyframes cubey {
	0% {
		text-shadow: 0px 5px 2px red;
	}
	10% {
		text-shadow: 5px 0px 2px crimson;
	}
	15% {
		text-shadow: -5px 0px 5px orange;
	}
	20% {
		text-shadow: 0px -10px 10px yellow;
	}
	50%{
		text-shadow: 0px 00px 100px wheat;
	}
	100% {
		text-shadow: 0px 0px 500px white;
	}
}
@keyframes cubey {
	0% {
		text-shadow: 0px 5px 2px red;
	}
	10% {
		text-shadow: 5px 0px 2px crimson;
	}
	15% {
		text-shadow: -5px 0px 5px orange;
	}
	20% {
		text-shadow: 0px -10px 10px yellow;
	}
	50%{
		text-shadow: 0px 00px 100px wheat;
	}
	100% {
		text-shadow: 0px 0px 500px white;
	}
}

@-webkit-keyframes drippin {
	0% {
		text-shadow: 0px -5px 2px black;
	}
	10% {
		text-shadow: 0px -0px 2px red;
	}
	15% {
		text-shadow: 0px -3px 3px red;
	}
	20% {
		text-shadow: 0px -4px 3px red;
	}
	100% {
		text-shadow: 0px -10px 4px white;
	}
}
@-moz-keyframes drippin {
	0% {
		text-shadow: 0px -5px 2px red;
	}
	10% {
		text-shadow: 0px -0px 2px red;
	}
	15% {
		text-shadow: 0px -3px 3px red;
	}
	20% {
		text-shadow: 0px -4px 3px red;
	}
	100% {
		text-shadow: 0px -100px 4px maroon;
	}
}
@-o-keyframes drippin {
	0% {
		text-shadow: 0px -5px 2px red;
	}
	10% {
		text-shadow: 0px -0px 2px red;
	}
	15% {
		text-shadow: 0px -3px 3px red;
	}
	20% {
		text-shadow: 0px -4px 3px red;
	}
	100% {
		text-shadow: 0px -100px 4px maroon;
	}
}
@keyframes drippin {
	0% {
		text-shadow: 0px -5px 2px blue;
	}
	10% {
		text-shadow: 0px -0px 2px lightgreen;
	}
	15% {
		text-shadow: 0px -3px 3px blue;
	}
	20% {
		text-shadow: 0px -4px 3px red;
	}
	100% {
		text-shadow: 0px -100px 4px lightgreen;
	}
}

#about, #about *, #contact, #contact *, #work{
	font-size: medium;
	color: rgba(120,230,236, 0.9);
}
.aboutlist2 li{
	list-style: circle;
	margin: 2px auto;
	padding: 2%;
}

.aboutlist li{
	margin: 2px auto;
	padding: 2%;
	list-style: circle;
}

body, body *{
	line-height: 2;
	font-family: 'Inknut Antiqua', serif !important;
	transition: height 0.5s ease !important;
	transition: opacity 0.6s ease-in !important;
}

.workmenu ul li {
	list-style: none;
}

#aboutdiv{
	list-style-type: circle;
	list-style: circle;
	line-height: 20px;
}
h1 {
	display: inline-flex;
}

.menu1 * {
	font-size: 16px !important;
}

#demos .inner ul, #work .inner ul, #assgns .inner ul {
	list-style: none;
	padding: 1%;
}
#demos .inner ul li, #work .inner ul li, #assgns .inner ul li {
	padding: 2%;
	display: block;
}
#demos .inner ul li a, #work .inner ul li a, #assgns .inner ul li a {
	text-decoration: none;
	border: thin solid white;
	border-radius: 2px;
	padding: 2%;
}
#demos .inner ul li a:hover, #work .inner ul li a:hover, #assgns .inner ul li a:hover {
	background: rgba(200, 200, 225, 0.4);
	color: rgba(210, 190, 15, 0.9);
	border: none;
	border-bottom: thin solid orange;
}
